.student-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
}

.student-cell {
  background-color: #eeeeee;
  text-align: center;
  padding: 6px;
}

.student-cell.add-student {
  background-color: #f7f7f7;
  border: #929aab solid 1px;
}
